{% extends "base.html" %}

{% block content %}
<div id="tabs">
	<ul>
		<li>
			<a href="#maintab">
				Converter
			</a>
		</li>
	</ul>
	<div class="content-box" id="maintab">
		<h1>Converted Files</h1>
		<ol id="filelist">
		{% for item in list %}
			<li>
				<a href="{{ item }}" target="_BLANK">Download: <span class="filename">{{ item }}</span></a>
			</li>
		{% endfor %}
		</ol>
		<script type="text/javascript">
		//<![CDATA[
		(function(){
			$('ol#filelist span.filename').each(function(li){
				var lname = this.innerHTML.split("/");
				var fname = lname[lname.length - 1];
				$(this).text(fname);
			})
		})(jQuery);
		//]]>
		</script>
<br style="clear:both" /><br style="clear:both" />
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
(function(j$){
/*-- jQuery-UI initializers --*/
	$('#tabs').tabs();
	$('.bigbutton').button();
})();
//]]>
</script>

{% endblock %}