{% extends "base.html" %}

{% block content %}
<div id="tabs">
	<ul>
		<li>
			<a href="#maintab">
				Converter
			</a>
		</li>
		<li>
			<a href="#instructions">
				Documentation
			</a>
		</li>
	</ul>
	<div class="content-box" id="maintab">
		<h1>Upload</h1>
  		<div class="" id="select_file">
{% if msg %}
			<p class="error">{{ msg }}</p>
{% endif %}
{% if form %}
<p class="advice">
  Use the Uploader to turn properly formatted XLS files into XForms
  for use with Open Data Kit. See the documentation tab to learn how
  to fill out the
  <a href="/static/example_xls/surveys-v0.2.xls">XLS template</a>.
</p>
	<table style="width:100%">
		<tr>
			<td>
	<!-- note: action is the url this form goes to after submitting. -->
<form enctype="multipart/form-data" method="post" action="/">
{{ form.as_p }}
</form>
			</td>
			<td>
<a href="javascript:xlsf.submitForm()" class="bigbutton disabled" id="convert_button">Convert to XForm</a>
			</td>
		</tr>
	</table>
{% endif %}
		</div>

	<h1>Privacy Policy</h1>
	<p class="info">With the user's permission, the information uploaded through this tool will only be used to improve the system.</p>

  	<h1>Technical Support</h1>
  	<p class="info">
		Join our <a href="http://groups.google.com/group/xls2xform">Google Group</a> for clarification on how to use this service.
  	</p>

	<h1>Source Code</h1>
	<p class="info">Want to contribute to this tool? View this project on <a href="http://github.com/mvpdev/xls2xform">GitHub</a>.</p>
</div>
<div class="content-box" id="instructions">

	<h1>Introduction</h1>
	<div class="docs">
		{{ documentation|safe }}
	</div>

	<h1>API</h1>
	<pre>{{ api }}</pre>
</div>
{% endblock %}
{% block header %}
<h1 id="title">XLS2XForm</h1>
{% endblock %}
{% block head %}
<link href="/static/webcontent/css/xls2xform-simple.css" rel="stylesheet" type="text/css" />
<link  href="//fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" rel="stylesheet" 
type="text/css" >
<link type="text/css" href="/static/webcontent/css/Aristo/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />	
{% endblock %}
{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

<script type="text/javascript">
//<![CDATA[
	var xlsf = (function(j$){
			function submittable(tf) {
				if(tf) {
					j$('#convert_button').removeClass('disabled')
				} else {
					j$('#convert_button').addClass('disabled')
				}
			}
			function submitForm() {
				j$('form').submit();
				if('undefined'!==typeof xformer) {
					xformer.pulse();
				}
			}
			function checkSubmittable() {
				this.submittable(j$('#id_file').val()!=="");
			}
			return {
				submittable: submittable,
				checkSubmittable: checkSubmittable,
				submitForm: submitForm
			}
		})(jQuery);
		
		
		(function(j$){
			/*-- On Page Load:
			---- Checks if the file is submittable, adjusts "disabled" attr
			--*/
			xlsf.checkSubmittable();

			/*-- On Input Change:
			---- Checks if the file is submittable, adjusts "disabled" attr
			--*/
			j$('input#id_file').change(function(){
				xlsf.checkSubmittable();
			})
		})(jQuery);

//]]>
</script>
<script type="text/javascript">
//<![CDATA[
(function(j$){
/*-- jQuery-UI initializers --*/
	j$('#tabs').tabs();
	j$('.bigbutton').button();
})(jQuery);
//]]>
</script>
{% endblock %}
