<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>XLS2XForm</title>
	
	<link type="text/css" href="/sm/css/Aristo/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />	
	<link href="/sm/css/xls2xform-simple.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/sm/images/cc-favicon.png" type="image/x-icon" />
    <link rel="icon" href="/sm/images/xls2xform-favicon.png" type="image/x-icon" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
	<link  href="//fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" rel="stylesheet" 
type="text/css" >
{% block head %}{% endblock %}
</head>
<body>
	
{% block content %}{% endblock %}
<script src="/sm/js/make-pretty-shade.js"></script>
<script type="text/javascript">
//<![CDATA[
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-83697-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
//]]>
</script>
</body>
</html>
