{% extends 'base.html' %}
{% block content %}
<style type="text/css" media="screen">
	#available-sections {
		border: 1px solid #394367;
		padding: 8px 10px;
		width: 400px;
		float: right;
	}
	#available-sections h3 {
		font-size: 14px;
	}
	#available-sections h5 {
		font-size: 12px;
		font-weight: normal;
		font-style: italic;
	}
	#available-sections ul {
		list-style-type: none; margin: 0; padding: 0;
	}
	#available-sections ul li {
		position: relative;
		background-color: #eee;
		border-bottom: 1px solid #bbb;
		padding: 3px 8px 3px 16px;
	}
	#available-sections ul li div.left-bar {
		width: 6px;
		height: 100%;
		background-color: #f00;
		position: absolute;
		top: 0; left:1px;
	}
	#available-sections ul li div.left-bar.lb-a {
		background-color: #96C6A8;
	}
	#available-sections ul li div.left-bar.lb-a.active {
		background-color: #01A42F;
	}
	#available-sections ul li p {
		margin: 0;
	}
	#available-sections ul li p.title {
		font-weight: bold;
	}
	#available-sections ul li p.title span.sub-sections {
		font-weight: normal;
	}
	#available-sections ul li p.title span.sub-sections span.ss {
		margin: 1px 4px;
		font-size: smaller;
	}
	#available-sections ul li p.section-buttons a {
		display: inline-block; width: 100px;
	}
	
</style>

<h2>
	{{xform.id_string}}
</h2>
<p>
	Version Number {{xform.versions.count}}
</p>
<div id="available-sections">
	<h3>Portfolio</h3>
	{% if available_sections_empty %}
	<h5>No sections have been added to the portfolio for this XForm.</h5>
	{% else %}
	<h5>These are the sections that you have made available for the survey.</h5>
	<ul>
		{% for section in available_sections %}
		<li data-section-slug="{{section.slug}}">
			<div class="active-bar left-bar lb-a {% if section.is_marked_included %}active{% else %}inactive{% endif %}"></div>
<!--			<div class="included-bar left-bar lb-b"></div> -->
			<p class="title">
				<span class="section-slug">{{section.slug}}</span> <span class="sub-sections">{% for ss in section.sub_sections %}<span class="ss">{{ss}}</span>{% endfor %}</span>
			</p>
			<p class="section-buttons">
				{% if section.is_marked_included %}
				<a href="/edit_xform/{{xform.id_string}}/section/{{section.slug}}/deactivate" class="make-inactive">[ Deactivate ]</a>
				{% else %}
				<a href="/edit_xform/{{xform.id_string}}/section/{{section.slug}}/activate" class="make-active">[ Activate ]</a>
				{% endif %}
				<a href="/edit_xform/{{xform.id_string}}/section/{{section.slug}}/delete" class="delete">[ Delete ]</a>
			</p>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
<div id="sections">
	<h3>Active Sections</h3>
	{% if base_sections_empty %}
	<h5>No sections have been marked as active.</h5>
	{% else %}
	<h5>These are the main sections that will be included in this version of the survey.</h5>
	<ol>
		{% for section in base_sections %}
		<li class="section-{{section.slug}}" data-section-slug="{{section.slug}}">
			<p>
				{{section.slug}}
			</p>
			<p class="status" style="display:none"></p>
			<p class="buttons">
				<a class="move-up" href="/edit_xform/{{xform.id_string}}/section/{{section.slug}}/up">[Up]</a>
				<a class="move-down" href="/edit_xform/{{xform.id_string}}/section/{{section.slug}}/down">[Down]</a>
				<a class="deactivate" href="/edit_xform/{{xform.id_string}}/section/{{section.slug}}/deactivate">[x]</a>
			</p>
		</li>
		{% endfor %}
	</ol>
	{% endif %}
</div>
<fieldset>
	<legend>
		Add or update a section.
	</legend>
	<form action="." method="post" enctype="multipart/form-data">
		<p>
			Add a section in either XLS or JSON.
		</p>
		<p>
			Your file will pull the section id from the name of the file.
			<em>Example: location_questions.xls will have the section id: location_questions</em>
		</p>
		<p>
			{% csrf_token %}
			<input type="file" name="section_file" >
			<input type="submit" value="Submit">
		</p>
	</form>
</fieldset>
<p class="survey-status" style="display:none">
</p>
<p class="xform-buttons">
	<!--
	<a href="/edit_xform/{{xform.id_string}}/validate/" id="validate">Validate XForm</a>
	<br>
	<a href="/edit_xform/{{xform.id_string}}/download/" id="download">Download XForm</a>
	-->
</p>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
<!--
/*--
function markOrderChanged() {
	//when the order has been changed. it needs to be synced with the server.
	//a button should be displayed to allow this.
}
$('#sections').delegate('a', 'click', function(evt){
	var thisSection = $(this).parents('li').data('section-slug');
	var li = $(this).parents('li')//.remove();
	if($(this).hasClass('move-up')) {
		if(li.prev().length) {
			li.prev().before(li.remove());
			markOrderChanged();
		}
	} else if ($(this).hasClass('move-down')){
		if(li.next().length) {
			li.next().after(li.remove())
			markOrderChanged();
		}
	}
	evt.preventDefault();
})
--*/
$('#validate').click(function(evt){
	$.getJSON('/edit_xform/{{xform.id_string}}/validate').done(function(data){
		console.log(data);
		if(data.section_stats) {
			$.each(data.section_stats, function(sectionSlug, stat){
				var z = $('.section-'+sectionSlug).addClass(stat.status);
				if(stat.message) {
					z.find('p.status').text(stat.message).show();
				}
			});
		}
		if(data.status=="error") {
			$('p.survey-status').text(data.message).show();
		} else if(data.status=="good") {
			$('p.survey-status').hide();
		}
	});
	evt.preventDefault();
});

var debugJson = $("<a />", {'href':'#'}).text("Debug XForm Output").click(function(evt){
	var ta = $('textarea#t');
	if(ta.length===0) {
		ta = $('<textarea />').css({'width':'80%','height':'200px'});
		$('footer').html(ta);
	}
	$.getJSON("/edit_xform/{{xform.id_string}}/debug_json").done(function(data){
		ta.text(JSON.stringify(data));
	});
	evt.preventDefault();
}).appendTo($('p.xform-buttons'));

-->
</script>
{% endblock %}

<script type="text/javascript" charset="utf-8">
/*-- Some day-- might want to use this code
	var uriContent = "data:application/download," + encodeURIComponent($('body').get(0).innerHTML)
	window.open(uriContent, 'newdoc')
	--*/
</script>

