{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1>
	Your Forms
</h1>
<ul>
	{% for xform in xforms %}
	<li>
		<a href="/edit/{{xform.id_string}}/">{{xform.id_string}}</a>
	</li>
	{% endfor %}
</ul>
<fieldset>
	<legend>
		Start a new form
	</legend>
	<form action="/create_xform/">
		<input name="id_string">
		<input type="submit" value="Create Empty Form">
	</form>
</fieldset>
{% else %}
<p><em>You must be logged in to create an xform</em></p>
{% endif %}
{% endblock %}