{% extends 'base.html' %}
{% block content %}
<p>
	if you aren't logged in, please log in and come back here... <a href="/admin/">admin login</a>
	Logged in as {{user.username}}
</p>
<h2>
	Your Forms
</h2>
<ul>
	{% for xform in xforms %}
	<li>
		<a href="/edit_xform/{{xform.id_string}}/">{{xform.id_string}}</a>
	</li>
	{% endfor %}
</ul>
<fieldset>
	<legend>
		Start a new form
	</legend>
	<form action="/create_xform/">
		<input name="id_string">
		<input type="submit" value="Create Empty Form">
	</form>
</fieldset>
{% endblock %}