<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>XLS2XForm</title>
	
	<link type="text/css" href="/site_media/css/Aristo/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />	
	<link href="/site_media/css/xls2xform-simple.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

</head>
<body>
<div id="tabs">
	<ul><li>
	<a href="#maintab">
		XLS &raquo; XForm Converter
	</a>
</li>
</ul>
	<div class="wrap" id="maintab">

<div class="sect mid">  <h1><a href="#">Converted File</a></h1>
  <div id="download_file"><ol id="filelist">
  {% for item in list %}
  <li><a href="{{ item }}" class="">Download: <span class="filename">{{item}}</span></a></li>
  {% endfor %}
</ol>
<br style="clear:both" /><br style="clear:both" /></div>
</div>
<div class="sect top">  <h1><a href="#">Back</a></h1>

  <div style="height: 50px;padding:12px 0 0"><a href="/xls2xform" class="bigbutton">Upload a new XLS</a></div>
</div>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
(function(j$){
	j$('#tabs').tabs();
	j$('.bigbutton').button();
})(jQuery);

//]]>
</script>
</body>
</html>