<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>XLS2XForm</title>
	
	<link type="text/css" href="/sm/css/Aristo/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />	
	<link href="/sm/css/xls2xform-simple.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/sm/images/cc-favicon.png" type="image/x-icon" />
	<link rel="icon" href="/sm/images/cc-favicon.png" type="image/x-icon" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
</head>
<body>
<div id="tabs">
	<ul>
		<li>
			<a href="#maintab">
				Converter
			</a>
		</li>
	</ul>
	<div class="content-box" id="maintab">
		<h1>Converted File</h1>
		<ol id="filelist">
		{% for item in list %}
			<li>
				<a href="{{ item }}" target="_BLANK">Download: <span class="filename">{{ item }}</span></a>
			</li>
		{% endfor %}
		</ol>
		<script type="text/javascript">
		//<![CDATA[
		(function(){
			$('ol#filelist span.filename').each(function(li){
				var lname = this.innerHTML.split("/");
				var fname = lname[lname.length - 1];
				$(this).text(fname);
			})
		})(jQuery);
		//]]>
		</script>
<br style="clear:both" /><br style="clear:both" />
  	<h1>Support</h1>
  	<p class="info">
		Check out the <a href="#">Google Groups</a> page if you want clarification on how to use this tool.
  	</p>

	<h1>Source Code</h1>
	<p class="info">Want to contribute to this tool? View this project on <a href="http://github.com/amarder/xls2xform">GitHub</a>.</p>
</div>
<script type="text/javascript">
//<![CDATA[
(function(j$){
/*-- jQuery-UI initializers --*/
	$('#tabs').tabs();
	$('.bigbutton').button();
})();
//]]>
</script>
<script src="/sm/js/make-pretty-shade.js"></script>
</body>
</html>
