<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>XLS2XForm</title>
	
	<link type="text/css" href="/sm/css/Aristo/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />	
	<link href="/sm/css/xls2xform-simple.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/sm/images/cc-favicon.png" type="image/x-icon" />
    <link rel="icon" href="/sm/images/cc-favicon.png" type="image/x-icon" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

	<script type="text/javascript">
//<![CDATA[
	
		var xlsf = (function(j$){
			function submittable(tf) {
				if(tf) {
					j$('#convert_button').removeClass('disabled')
				} else {
					j$('#convert_button').addClass('disabled')
				}
			}
			function submitForm() {
				j$('form').submit();
			}
			function checkSubmittable() {
				this.submittable(j$('#id_file').val()!=="");
			}
			return {
				submittable: submittable,
				checkSubmittable: checkSubmittable,
				submitForm: submitForm
			}
		})(jQuery);
		

//]]>
</script>
</head>
<body>
<div id="tabs">
	<ul>
		<li>
			<a href="#maintab">
				Converter
			</a>
		</li>
		<li>
			<a href="#instructions">
				Documentation
			</a>
		</li>
	</ul>
	<div class="content-box" id="maintab">
		<h1>Upload</h1>
  		<div class="" id="select_file">
{% if msg %}
			<p class="error">{{ msg }}</p>
{% endif %}
{% if form %}
	<p class="advice">Use the Uploader to turn properly formatted XLS files into XForms. See the documentation tab to read how to fill out the <a href="/example_xls/{{ most_recent_survey }}">XLS template</a>.</p>
	<table style="width:100%">
		<tr>
			<td>
	<!-- note: action is the url this form goes to after submitting. -->
<form enctype="multipart/form-data" method="post" action="/">
{{ form.as_p }}
</form>
			</td>
			<td>
<a href="javascript:xlsf.submitForm()" class="bigbutton disabled" id="convert_button">Convert to XForm</a>
			</td>
		</tr>
	</table>
{% endif %}

<script type="text/javascript">
//<![CDATA[

(function(j$){
	/*-- On Page Load:
	---- Checks if the file is submittable, adjusts "disabled" attr
	--*/
	xlsf.checkSubmittable();

	/*-- On Input Change:
	---- Checks if the file is submittable, adjusts "disabled" attr
	--*/
	j$('input#id_file').change(function(){
		xlsf.checkSubmittable();
	})
})(jQuery);

//]]>
</script>
		</div>

	<h1>Privacy Policy</h1>
	<p class="info">With the user's permission, the information uploaded through this tool will only be used to help improve the system.</p>

  	<h1>Support</h1>
  	<p class="info">
		Check out the <a href="http://groups.google.com/group/xls2xform">Google Groups</a> page if you want clarification on how to use this tool.
  	</p>

	<h1>Source Code</h1>
	<p class="info">Want to contribute to this tool? View this project on <a href="http://github.com/mvpdev/xls2xform">GitHub</a>.</p>
</div>
<div class="content-box" id="instructions">

	<h1>XLS Template</h1>
	<p class="info">This custom designed XLS template can be filled with XForm field information and converted to XForm.</p>
	<a href="/example_xls/{{ most_recent_survey }}" class="bigbutton">Download XLS Template</a>

	<h1>Documentation</h1>
	<div class="docs">
		{{ documentation|safe }}
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
(function(j$){
/*-- jQuery-UI initializers --*/
	j$('#tabs').tabs();
	j$('.bigbutton').button();
})(jQuery);
//]]>
</script>
<script src="/sm/js/make-pretty-shade.js"></script>
</body>
</html>
