body {
	margin: 0;
	width: 100%;
	background-color: #efefef;
	background-image: url('../images/bg-greyrepeat.png');
	line-height: 1em;
}
#title {
	text-align: center;
	width:640px;margin:0px auto;
	font-family: 'Droid Serif', serif;
	font-size: 27px;
	line-height: 27px;
	font-style: normal;
	font-weight: 400;
	text-shadow: 3px 3px 3px #cdcdcd;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 30px;
	padding: 3px 4px;
	border: 1px solid #999;
	border-width: 0 1px 2px;
	background-color: rgba(0,0,0,0.02);
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}
#title  span {
	font-size: smaller;
}

.ui-tabs {
	background-color: transparent;
	margin: 0 auto;
	width: 650px;
	padding: 10px 4px;
	background-repeat: no-repeat;
}
.ui-tabs .ui-tabs-nav {
	border: 0 none;
}
.ui-tabs .ui-tabs-panel {
	border: 1px solid #777;
	border-color: #777 #AAA #AAA #AAA;
	background-color: #fff;
	padding: 0 35px;
}
.ui-tabs-panel h1 {
	margin: 6px -17px 6px -17px;
	font-size: 14px;
	padding: 8px 35px 6px;
	background-color: #efefef;
	border: 0 solid #cdcdcd;
	border-width: 1px 0px;
}
.ui-tabs-panel h1 a {
	text-decoration: none;
	border: 1px dotted #000;
	border-width: 0 0 1px 0;
}
.ui-tabs-panel .ui-button.disabled {
	opacity: 0.5;
}
.ui-tabs-panel div.codewrap {
	margin: 10px;
	padding: 14px;
	border: 1px solid #dedede;
}

a.bigbutton {
	margin: 3px;
}
ol#filelist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ol#filelist li {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	width: 45%;
	float: left;
}
ol#filelist li a {
	display: block;
	border: 1px solid black;
	width: inherit;
	padding: 4px;
	-moz-border-radius: 4px;
}

ol#filelist li a:visited {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

ol#filelist li a span.filename {
	border: 0px none;
	font-family: Monospace;
	padding: 0px 7px;
}

.error {
	border: 2px solid #f7b2be;
	padding: 3px 6px;
	background-color: #ffeef1;
}
.advice {
	font-size:11px;
	color: #666;
	font-style: italic;
	border: 1px solid #a9a9a9;
	background-color: #fefefe;
	padding: 3px 6px;
	margin: 9px -6px;
}
.advice a {
  color: #888;
}
