{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="a-square-box">
	<h1>
		Your Forms
	</h1>
	<hr>
	<ul>
		{% for xform in xforms %}
		<li>
			<a href="/edit/{{xform.id_string}}/">{{xform.id_string}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
<div id="new-empty-form" class="a-square-box">
	<h2>
		Start a new form
	</h2>
	<form action="/create_xform/">
		{% csrf_token %}
		<input name="id_string">
		<input type="submit" value="Create Empty Form">
	</form>
</div>
<div class="a-square-box">
	<h2>
		Form QuickUpload<span style="font-size:smaller"> &copy; </span>.
	</h2>
	<form action="/create_xform/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="section_file" > <span>&nbsp;|&nbsp;</span>
		<input type="submit" value="I'm Feeling XLucky">
	</form>
</div>
{% else %}
<p><em>You must be logged in to create an xform</em></p>
{% endif %}
{% endblock %}